footer {
    padding: 2rem 10rem !important;
    color: var(--text-white);
    background-color: var(--bg2);
    font-family: var(--bs-font-sans-serif);
    font-size: 1.1rem;
}

.text-grey {
    color: var(--text-grey);
}

.text-white {
    color: var(--text-white);
}